html, body {
    height: 100%;
    margin: 0;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-left: 2vh;
    font-size: 5vh;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.button-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    height: 5vh;
    width: 13vh;
    border-radius: 2vh;
    cursor: pointer;
}

.button-restart-text {
    font-size: 2.5vh;
}

.score-container {
    width: 50vh;
    display: flex;
    justify-content: space-between;
}

.playground {
    border: 2px solid #ffa500;
    border-collapse: collapse;
    margin: 0;
}

.cell {
     position: relative;
    height: 20vh;
    width: 20vh;
    border: 5px solid #000000;
    margin: 0;
}

.win-ground {
    background-color: darkseagreen;
}

.ground {
    display:flex;
    align-items: center;
    justify-content: center;
}

.tac {
    display: none;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 10px solid #ffa500
}

.tic {
    display: none;
    height: 20vh;
    position: relative;
}

.tic:before, .tic:after {
    position: absolute;
    left: -5px;
    content: '';
    height: 100%;
    width: 10px;
    background-color: #ffa500
}

.tic:before {
    transform: rotate(45deg);
}

.tic:after {
    transform: rotate(-45deg);
}

.winner {
    display:none;
}

footer {
    border-top: 7px solid #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: rgba(178, 169, 169, 0.96);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 8vh;
    width: calc(100% - 60px);
    max-width: 1600px;
    align-items: center
}

.link {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    fill: #ffa500;
    color: #ffa500;
}

.footer__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.rss-logo {
    fill: #000000;
    height: 5vh;
    width: 15vh;
}